<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>admission</servlet-name>
  	<display-name>admission</display-name>
  	<description></description>
  	<servlet-class>Servlets.admission</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdmissionServlet</servlet-name>
  	<display-name>AdmissionServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.AdmissionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContenAdminServlet</servlet-name>
  	<display-name>ContenAdminServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.ContenAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admission</servlet-name>
  	<url-pattern>/admission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdmissionServlet</servlet-name>
  	<url-pattern>/AdmissionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContenAdminServlet</servlet-name>
  	<url-pattern>/ContenAdminServlet</url-pattern>
  </servlet-mapping>
</web-app>